/*
Kwintyn Porter 
Web & Distributed Programming
My Favorite Hobby PA-1
Fall 2018    
*/ 
body {
    background-color white;
}
h1 {
    color: goldenrod; 
}
p {
    color: rgb(37, 9, 65);
}
a:hover {
    background-color: lightsalmon;
}
